@charset "UTF-8";
body {
	margin:0;
	font-family: Arial;
}
#container {
	width: 956px;
	height: 311px;
	margin:auto;
	padding: 30px;

}

* {
	box-sizing: border-box;
}

form.search input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

form.search button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #2196F3;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

form.search button:hover {
	background: #0b7dda;
}

form.search::after {
	content: "";
	clear: both;
	display: table;
}

.navbar {
	overflow: hidden;
	background-color: #34495e;
	position: fixed;
	top: 0;
	width: 100%;
}
.navbar-right {
	float: right;
}

.home {
	text-align: left;
}
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background: #ddd;
	color: black;
}


.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	float: right;
}

.public {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}

.public:hover {
	background-color: #4CAF50;
	color: white;
}

.private {
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
}

.private:hover {
	background-color: #008CBA;
	color: white;
}


.rooms {
	width:750px;
	height:455px;
	border: 2px solid black;
	border-radius: 5px;
	float:left;
	margin-top: 100px;
	margin-left: 50px;
	transform-style: preserve-3d;
	position: relative;
	text-align: center;
	overflow: auto;
}

.chatRoom {
	width: 100px;
	height: 180px;
	margin-left: 40px;
	margin-top: 40px;
	float:left;
	transform-style: preserve-3d;
	background-color:rgba(255,255,255, 0.1);
	border-radius:10px;
}



.chatRoom:hover {
	transform: translate(0, -20px);
}

.centered-text {
	position: absolute;
	top: 50%;
	text-color: white;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.chatImg {
	width: 100%;
	height: 100%;
	position: center;
}

.button:hover {
	background-image: linear-gradient(bottom, rgb(255,250,250) 0%, rgb(229,230,230) 100%);
}

body {
	background-color: white;
}

.infoBox {
	width:300px;
	height:240px; 
	float: right; 
	margin-top: 90px; 
	margin-right: 60px;
	background-color: #B3AEE8;
	border-left: solid 10px #7A70E6;
	border-radius: 4px;
	line-height: 18px;
    mc-auto-number-format: '{b}Note: {/b}';
    overflow: hidden;
    padding: 12px;
}


.infoTittle {
	color: #0E0B2B;
	font-size:20px;
}
